
.mapContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  position: relative;
  padding: 10px;
  padding-top: 40px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url(/bg.png);
  background-color: #000;
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  overflow: hidden;

  @media (max-width: 768px) {
    background-attachment: fixed;
    background-position: center center;
  }
}


.island {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content !important;

  -webkit-mask-image: url("/clip.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 150% 150%;

  mask-image: url("/clip.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 150% 150%;
  overflow: hidden;

  z-index: 100;
  transition: transform 0.6s ease-in-out;
  filter: drop-shadow(0px 5px 10px rgba(247, 103, 103, 0.4)) /* Intense white glow */
          drop-shadow(0px 00px 20px rgba(255, 255, 255, 0.5)); /* Softer white glow */
}

.island img {
  object-fit: cover;
  transition: transform 0.6s ease, filter 0.6s ease;
}

.island:nth-of-type(2n+1)::before{
 content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 0, 0, 0.35);
  pointer-events: none;
  z-index: 2;
  border-radius: inherit;
  mix-blend-mode: multiply;
}

.island:nth-of-type(2n)::before{
 content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 255, 0.35);
  pointer-events: none;
  z-index: 2;
  border-radius: inherit;
  mix-blend-mode: multiply;
  
}

.island:hover {
  transform: translateY(-10px) scale(1.3);
  filter: drop-shadow(0px 15px 30px rgba(255, 0, 0, 0.7)) /* Intense red glow */
          drop-shadow(0px 20px 40px rgba(255, 0, 0, 0.5)); /* Softer red glow */
}

.island:hover img{
  transform: scale(1.5);
}

.island:hover::before{
   content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 2;
  border-radius: inherit;
  mix-blend-mode: multiply;
}

.islandLocked {
  /* locked faded island style */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content !important;
  z-index: 100;
  filter: grayscale(100%) brightness(80%) opacity(0.85);
  cursor: not-allowed;
}

.islandLocked img {
  -webkit-mask-image: url("/clip.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: 150% 150%;

  mask-image: url("/clip.png");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 150% 150%;
  overflow: hidden;
}

.lockOverlay {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.pointsOverlay {
  position: absolute;
  bottom: 50;
  right: 50;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.lockIcon{
  color: #fff;
}

@media (max-width: 768px) {
  .mapContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .mapContainer {
    grid-template-columns: 1fr;
  }
}

.mapTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010a4a; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #E50914; 
}

.mapTitle h1 {
  font-size: 2.5rem;
  margin: 0;
  color: #fff; 

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.teamScore {
  background-color: #1B1B1B;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  /* font-family: 'Lexend', sans-serif; Themed font */
  font-weight: 700;
}

.teamScore h2 {
  font-size: 2rem;
  margin: 0;
  color: #E50914;

  @media (max-width: 768px) {
    font-size: 1.5rem;
  }
}

.score {
  margin: 0;
  color: #f8e9c4; 
  text-align: center;
}